*~
inst/doc
.RData
.Rhistory
.Rproj.user
.Rproj
*.o
*.so
*.dll
vignettes/*html
vignettes/*.md
vignettes/*cache*
docs/articles/*cache*
treespace.Rcheck/
*.tar.gz
images/svg/.DS_Store
tests/testthat/.DS_Store
vignettes/.DS_Store
